.c1 {
    background-color: red;
    color: azure;
    padding: 10px;
}
.c2 {
    color: yellow;
    font-size: 30px;
}
.c3 {
    background-color: gold;
    color: red;
    font-size: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.c4{
    background-color: chartreuse;
    color: red;
    font-size: 30px;
    padding: 10px;
}

.c5{
    font-size: 30px;
    padding: 10px;
    background-color: red;
    color: white;
}