<h1>{{title}}</h1>

<div *ngIf="success_msg; then updated_msg; else error_msg" style="background-color: pink;">
 
</div>

<ng-template #updated_msg>user was updated</ng-template>

<ng-template #error_msg>user was not added</ng-template>

<h2>Learning ngFor</h2>

<ul>
  <li *ngFor="let contact of contacts; index as i; first as f; last as l">

    <div *ngIf="f" style="background-color: lightgreen;">This Is First Record</div>
    <div>
      {{i}}
    {{contact.firstname}}
    ({{contact.lastname}}) - 
    {{contact.contactid}}
  </div>

  <div *ngIf="l" style="background-color: lightseagreen;">This Is Last Record</div>

  </li>


</ul>

<p>New Table With Even And Odd</p>
<ul>
  <li *ngFor="let contact of contacts; index as i; even as e; odd as o">

    <div *ngIf="e" style="background-color: orange;">This Is Even Record - 
      
    {{i}} -   
    {{contact.firstname}}
    ({{contact.lastname}}) - 
    {{contact.contactid}}
  </div>

  <div *ngIf="o" style="background-color: orchid;">
    This Is Odd Record - 
    {{i}} - 
    {{contact.firstname}}
    ({{contact.lastname}}) - 
    {{contact.contactid}}
  
  </div>

  </li>


</ul>


<router-outlet></router-outlet>